body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F9F2ED;
}

#title {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFB562;
}

#game-board{
    display: grid;
    flex-direction: row;
    flex-wrap: wrap;
    grid-template-columns: repeat(3,100px);
    grid-template-rows: repeat(3,100px); ;
    justify-content: center;
}


.game-box {
    height: 100px;
    width: 100px;
    border: 3px solid #F87474;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3AB0FF;
    font-size: 3em;
    font-family: sans-serif;
}